# Анаграммы (Word Jumble)
# Компьютер выбирает какое-либо слово и хаотично переставляет его буквы
# Задача игрока - восстановить исходное слово
import random
# создадим последовательность слов, из которых компьютер будет выбирать
WORDS = ("питон", "анаграмма", "простая", "сложная", "ответ", "подстаканник")
word = random.choice(WORDS)
correct = word
*.рус
*~
__pycache__
myvenv
db.sqlite3
/ststic
.DS_Store







