<html>
    <head>
        <title>Rifat's blog</title>
    </head>
    <body>
        <div>
            <h1><a href='/'>Rifat's blog</a></h1>
        </div>

        <div>
            <p>published: 22.01.2023, 12:21</p>
            <h2><a href="">My first post</a></h2>
            <p>HTML — это простой код, который может быть интерпретирован твоим браузером — таким как Chrome, Firefox или Safari — чтобы отобразить веб-страницу пользователю.</p>
        </div>
        
        <div>
            <p>published: 22.01.2023, 12:27</p>
            <h2><a href="">My second post</a></h2>
            <p>HTML (от англ. "HyperText Markup Language") — язык гипертекстовой разметки. Гипертекст — это тип текста, поддерживающий гиперссылки между страницами. Под разметкой понимается введение в текст документа кода, который будет говорить браузеру (в нашем случае), как интерпретировать веб-страницу. HTML код строится при помощи тегов, каждый из которых должен начинаться с < и заканчиваться >. Эти теги представляют элементы разметки.</p>
        </div>    
    </body>
</html>